.news_wrapper{
    box-sizing: border-box;
    display: flex;
    background-color: #ec244c;
    margin: 10px 15px;
    /*border: solid gray 1px;*/
    padding: 5px;
    box-shadow: 0 2px 2px #aa2222;
}

.source_info{
    margin-right: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.source_info *{
    margin:0;
}

.avatar{
    width: 80px;
    border-radius: 50%;
}

