.header {
    display:flex;
    justify-content: space-between;
    grid-area: h;
    background-color:rgb(150, 200, 150);
    padding: 0.5rem;
}

.header img {
    max-height: 64px;
    padding-right: 0.5rem;
}

.logoArea {
    display: flex;
}
